.playerInfo {
    width: 37%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #272525;
}

.editHover {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    top: -1rem;
    right: 1rem;
    margin-bottom: 0.5rem;
    background-color: purple;
    --darkreader-inline-bgcolor: #660066;
}

.playerPic {
    width: 60%;
    height: 7rem;
    background-size: cover;
    background-position: center;
}

.stats {
    width: 117%;
}

.stats>div {
    background-color: #272525;
}

/* .statistic {
    height: 20.5rem;
} */

.actualStat {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}
#dialogContent {
    display: flex;
    flex-direction: column;
}