.playerInfo {
    width: 40%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.playerPic {
    width: 50%;
    height: 7rem;
    background-size: cover;
    background-position: center;
}

.stats {
    width: 117%;
}

.statistic {
    height: 20.5rem;
}

.actualStat {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}