<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="container"
    style="padding-top: 6rem;">
    <h1 style="font-size: 37pt;">{{playerName}}</h1>
    <div *ngIf="player" class="outline playerInfo lShadow" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <div class="playerPic outline" [style]="'background-image: url(data:image;base64,' + player.image + ');'"></div>
        <p>Full Name: {{player.fullName}}</p>
        <p>Gender: {{player.gender}}</p>
        <p>Birth Date: {{player.DOB}}</p>
        <p>Country: {{player.country}}</p>
        <p></p>
    </div>
    <div class="stats" fxFlex fxLayoutAlign="space-around">
        <div class="outline statistic lShadow" fxFlex fxLayout="column" fxFlex="30%" fxLayoutAlign="center"
            fxLayoutGap="0.5rem">
            <p class="mat-h1" style="text-align: center;">Offence</p>
            <div *ngFor="let stat of offenseStats;last as last" class="actualStat">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <p>{{stat.statistic}}</p>
                    <p>{{stat.value}}</p>
                </div>
                <hr *ngIf="!last" style="opacity: 50%;">
            </div>
        </div>
        <div class="outline statistic lShadow" fxFlex fxLayout="column" fxFlex="30%" fxLayoutAlign="center"
            fxLayoutGap="0.5rem">
            <p class="mat-h1" style="text-align: center;">Defence</p>
            <div *ngFor="let stat of defenceStats;last as last" class="actualStat">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <p>{{stat.statistic}}</p>
                    <p>{{stat.value}}</p>
                </div>
                <hr *ngIf="!last" style="opacity: 50%;">
            </div>
        </div>
        <div class="outline statistic lShadow" fxFlex fxLayout="column" fxFlex="30%" fxLayoutAlign="center"
            fxLayoutGap="0.5rem">
            <p class="mat-h1" style="text-align: center;">Fouls</p>
            <div *ngFor="let stat of foulStats;last as last" class="actualStat">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <p>{{stat.statistic}}</p>
                    <p>{{stat.value}}</p>
                </div>
                <hr *ngIf="!last" style="opacity: 50%;">
            </div>
        </div>
    </div>
    <div style="margin-bottom: 13rem;"></div>
</div>