<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="container"
    style="padding-top: 6rem;">
    <p>{{playerName}}</p>
    <div class="outline playerInfo" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <p class="outline playerPic">pic</p>
        <p style="height: 10rem;">Life Description</p>
    </div>
    <div class="stats" fxFlex fxLayoutAlign="space-around">
        <div class="outline statistic" fxFlex fxFlex="30%" fxLayoutAlign="center">foul</div>
        <div class="outline statistic" fxFlex fxFlex="30%" fxLayoutAlign="center">defence</div>
        <div class="outline statistic" fxFlex fxFlex="30%" fxLayoutAlign="center">offence</div>
    </div>
    <div style="margin-bottom: 13rem;"></div>
</div>