<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="container"
    style="padding-top: 6rem;">
    <h1 style="font-size: 37pt;">{{playerName}}</h1>
    <div class="outline playerInfo" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <div class="playerPic outline" style="background-image: url('https://picsum.photos/200');"></div>
        <p>Life Description</p>
        <p id="birth">13/1/2006</p>
        <p id="gender">male</p>

        <p id="Nationality">South Africa</p>
    </div>
    <div class="stats" fxFlex fxLayoutAlign="space-around">
        <div class="outline statistic" fxFlex fxLayout="column" fxFlex="30%" fxLayoutAlign="center"
            fxLayoutGap="0.5rem">
            <p class="mat-h1" style="text-align: center;">Fouls</p>
            <div *ngFor="let i of [1, 2, 3, 4, 5];last as last" class="actualStat">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <p>Stat</p>
                    <p>37</p>
                </div>
                <hr *ngIf="!last" style="opacity: 50%;">
            </div>
        </div>
        <div class="outline statistic" fxFlex fxFlex="30%" fxLayoutAlign="center">
            <div id="middle">
                <p>Offence:</p>
                <br>
                <p id="assists">Assists: 47</p>
                <br>
                <p id="sprintsWon">Sprints won: 87</p>
                <br>
                <p id="goals">Goals: 99</p>
                <br>
                <p id="passesMade">Passes Made: 36%</p>
            </div>

        </div>
        <div class="outline statistic" fxFlex fxFlex="30%" fxLayoutAlign="center">
            <div id="middle">
                <p>Defence:</p>
                <br>
                <p id="steals">Steals: 1</p>
                <br>
                <p id="saves">Saves: 2</p>
                <br>
                <p id="failedBlocks">Failed Blocks: 3</p>
                <br>
                <p id="successfulPasses">Successful passes: 4</p>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 13rem;"></div>
</div>