.cardContainer {
    height: 5rem;
    cursor: pointer;
}

.teamPic {
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(0.3);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(0.3);
    /* Microsoft Edge and Firefox 35+ */
    padding-left: 1rem;
    padding-right: 1rem;
}