<div id="all">
    <p>Group A</p>
    <app-standings-table></app-standings-table>
    <app-standing-event-card standings="{{standings}}"></app-standing-event-card>
    <app-standing-event-card event="events[0]"></app-standing-event-card>
    <app-standing-event-card event="events[1]"></app-standing-event-card>
    <app-standing-event-card event="events[2]"></app-standing-event-card>
    <app-standing-event-card event="events[3]"></app-standing-event-card>
    <app-standing-event-card event="events[4]"></app-standing-event-card>
    <app-standing-event-card event="events[5]"></app-standing-event-card>
</div>