<div id="winner">
    <p>Winner:</p>
    <img src="assets/images/KOR.png" alt="country flag" width="200" height="150">
    <p>S Korea</p>
</div>
<div id="round-headers">
    <span class="round-header">Round of 8</span>
    <span class="round-header">Quarter Final</span>
    <span class="round-header" id="ch1">Semi Final</span>
    <span class="round-header"></span>
    <span class="round-header" id="ch2">Semi Final</span>
    <span class="round-header">Quarter Final</span>
    <span class="round-header">Round of 8</span>
</div>
<div id="tournament">
    <div id="left">
        <div id="left-column1" class="column">

            <div class="a4eventsTop">
                <tournament-card event="{{tournament.roundof16[0]}}"></tournament-card>
                <tournament-card event="{{tournament.roundof16[1]}}"></tournament-card>
            </div>
            <div class="a4eventsBottom">
                <tournament-card event="{{tournament.roundof16[2]}}"></tournament-card>
                <tournament-card event="{{tournament.roundof16[3]}}"></tournament-card>
            </div>
        </div>
        <div id="left-column2" class="column">
            <tournament-card event="{{tournament.quarterFinals[0]}}"></tournament-card>
            <tournament-card event="{{tournament.quarterFinals[1]}}"></tournament-card>
        </div>
        <div id="left-column3" class="column">
            <tournament-card event="{{tournament.semiFinals[0]}}"></tournament-card>
        </div>
    </div>
    <div id="center" class="column">
        <div id="roundfor3">
            <p>Match for third place </p>
            <tournament-card event="{{tournament.fightFor3}}"></tournament-card>
        </div>
        <div class="final">
            <p>Final</p>
            <tournament-card event="{{tournament.final}}"></tournament-card>
        </div>
    </div>
    <div id="right">
        <div id="right-column1" class="column">
            <tournament-card event="{{tournament.semiFinals[1]}}"></tournament-card>
        </div>
        <div id="right-column2" class="column">
            <tournament-card event="{{tournament.quarterFinals[2]}}"></tournament-card>
            <tournament-card event="{{tournament.quarterFinals[3]}}"></tournament-card>
        </div>
        <div id="right-column3" class="column">
            <div class="a4eventsTop">
                <tournament-card event="{{tournament.roundof16[4]}}"></tournament-card>
                <tournament-card event="{{tournament.roundof16[5]}}"></tournament-card>
            </div>
            <div class="a4eventsBottom">
                <tournament-card event="{{tournament.roundof16[6]}}"></tournament-card>
                <tournament-card event="{{tournament.roundof16[7]}}"></tournament-card>
            </div>
        </div>
    </div>
</div>
<app-standings-table></app-standings-table>