<div id="winner">
    <p>Winner:</p>
    <img src="assets/images/KOR.png" alt="country flag" width="200" height="150">
    <p>S Korea</p>
</div>
<div id="round-headers">
    <span class="round-header">Round of 8</span>
    <span class="round-header">Quarter Final</span>
    <span class="round-header" id="ch1">Semi Final</span>
    <span class="round-header"></span>
    <span class="round-header" id="ch2">Semi Final</span>
    <span class="round-header">Quarter Final</span>
    <span class="round-header">Round of 8</span>
</div>
<div style="display: flex; justify-content: center; flex-direction: column;">
    <div id="tournament" *ngIf="tournament">
        <div id="left">
            <div id="left-column1" class="column">

                <div class="a4eventsTop">
                    <tournament-card event="{{tournament.rounds[0].matches[0]}}"></tournament-card>
                    <tournament-card event="{{tournament.rounds[0].matches[1]}}"></tournament-card>
                </div>
                <div class="a4eventsBottom">
                    <tournament-card event="{{tournament.rounds[0].matches[2]}}"></tournament-card>
                    <tournament-card event="{{tournament.rounds[0].matches[3]}}"></tournament-card>
                </div>
            </div>
            <div id="left-column2" class="column">
                <tournament-card event="{{tournament.rounds[1].matches[0]}}"></tournament-card>
                <tournament-card event="{{tournament.rounds[1].matches[1]}}"></tournament-card>
            </div>
            <div id="left-column3" class="column">
                <tournament-card event="{{tournament.rounds[2].matches[0]}}"></tournament-card>
            </div>
        </div>
        <div id="center" class="column">
            <div id="roundfor3">
                <p>Match for third place </p>
                <tournament-card event="{{tournament.rounds[3].matches[0]}}"></tournament-card>
            </div>
            <div class="final">
                <p>Final</p>
                <tournament-card event="{{tournament.rounds[3].matches[0]}}"></tournament-card>
            </div>
        </div>
        <div id="right">
            <div id="right-column1" class="column">
                <tournament-card event="{{tournament.rounds[2].matches[1]}}"></tournament-card>
            </div>
            <div id="right-column2" class="column">
                <tournament-card event="{{tournament.rounds[1].matches[2]}}"></tournament-card>
                <tournament-card event="{{tournament.rounds[1].matches[3]}}"></tournament-card>
            </div>
            <div id="right-column3" class="column">
                <div class="a4eventsTop">
                    <tournament-card event="{{tournament.rounds[0].matches[4]}}"></tournament-card>
                    <tournament-card event="{{tournament.rounds[0].matches[5]}}"></tournament-card>
                </div>
                <div class="a4eventsBottom">
                    <tournament-card event="{{tournament.rounds[0].matches[6]}}"></tournament-card>
                    <tournament-card event="{{tournament.rounds[0].matches[7]}}"></tournament-card>
                </div>
            </div>
        </div>
    </div>
    <app-standings-card></app-standings-card>
</div>