<div class="container mt-5">

    <h2>Group A</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Team</th>
                <th>Pld</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stand of standings">
                <td>{{ stand.pos }}</td>
                <td>{{ stand.team }}</td>
                <td>{{ stand.Pld }}</td>
                <td>{{ stand.W }}</td>
                <td>{{ stand.D }}</td>
                <td>{{ stand.L }}</td>
                <td>{{ stand.GF }}</td>
                <td>{{ stand.GA }}</td>
                <td>{{ stand.GD }}</td>
                <td>{{ stand.Pts }}</td>
            </tr>
        </tbody>
    </table>
</div>