<div class="headers">
  <div class="header">
    <img id="Logo" src="../assets/images/waterpolo.png" alt="Logo">
    <h2 id="WP"> Water polo </h2>
  </div>
</div>


<div class="Main">


  <div class="lefter">

  </div>
  <div class="bar">

  </div>

  <div class="Input">
    <div id="HH">
      <h3>Login</h3>
      <img id="Helpimg" src="../assets/images/Help.png" alt="Help" (click)="displayTooltip()">
    </div>

    <div id='buff'>
    </div>

    <form id="former" method="post">
      <label for="Ename">Email:</label><br>
      <input type="text" id="email" name="email" required><br> 
      <label for="Password">Password:</label><br>
      <input type="password" id="password" name="Password" required><br>
      <br>
      <button type="button" (click)="validate()"> Login </button>
      <!-- <input type="submit" id="sub" value="Login"> -->

    </form>
    <div id='buff'>

    </div>
    <div>
      <p id="mess">This is a message </p>
    </div>


  </div>

  <div class="Pref">
    <div id="HH">
      <h3>Preferences</h3>
    </div>

    <div id='buff'>
    </div>

    <form id="farmer" method="post">
      <input type="radio" id="lss" name="Theme" value="Light">
      <label for="Light">Light</label><br>
      <input type="radio" id="css" name="Theme" value="Dark">
      <label for="Dark">Dark</label><br>

      <br>
      <br>

      <!-- <button type="button" (click)="Setter()"> Save </button> -->
      <!-- <input type="submit" id="sub" value="Login"> -->

    </form>
    <div id='buff'>

    </div>
    <div>
      <p id="mess">This is a message </p>
    </div>


  </div>











</div>


<div id="buffer">

</div>
