<div class="headers">
    <div class="header">
      <img id="Logo" src="../assets/images/waterpolo.png" alt="Logo">
      <h2 id="WP"> Water polo </h2>
    </div>
  </div>
  
  
  <div class="Main">
  
  
    <div class="lefter">
      <div class="navbar">
      </div>
  
    </div>
    <div class="bar">
        
    </div>
  
    
  
      
  
    <div class="Input">
      <div id="HH">
        <h3>Manage Account</h3>
      </div>
  
      <div id='buff'>
      </div>
  
      <form id="info" method="post">
        <label for="fname">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <span></span>
        <label for="Uname">Username:</label><br>
        <input type="text" id="username" name="Username" required><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="password" name="Password" required><br>
        <label for="cPassword">Confirm Password:</label><br>
        <input type="password" id="cpassword" name="cPassword" required><br>
        
  
        <br>
        <br>
  
        <button type="button" (click)="Setter()"> Save </button> 
        <br>
        <div>
          <p id="mess">This is a message </p>
        </div>
        <br>
        <hr size="8" width="100%" color="gray">  
        <br>
        <div id="HH">
            <h3>Remove account</h3>
            <img id="Deleteimg" src="../assets/images/Delete.png" alt="Delete">
        </div>
       

        
  
      </form>
      
  
    </div>

    <div class="DT">
        
    </div>
  
  
  
  
  
  
  
  
  
  
  
  </div>
  
  

  