<div>
    <form class="example-form">
        <h1>Offence</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Assits</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Successful Passes</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Successful Passes</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Unsuccesful Passes</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sprints Won</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sprints Lost</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sprints Lost</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Goals</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Misses</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
</div>
<div>
    <h1>Defence</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Defence</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Saves</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Failed Blocks</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Successful Blocks</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
</div>
<div>
    <h1>Fouls</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>turnovers</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Exclusions</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Major Fouls</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Minor Fouls</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Penalty Shots Taken</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Penalty Shots Given</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
</div>