<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="container">
    <!-- <p style="padding-top: 4rem; font-size: 50pt;">{{leagueName}}</p> -->

    <mat-accordion>
        <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
        <mat-expansion-panel #topPanel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{selectedSubSeason ? selectedSubSeason.subseasonKey : 'Select a Subseason'}}
                </mat-panel-title>
                <mat-panel-description>
                    Select a Subseason
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <button *ngFor="let subseason of subseasons" mat-stroked-button (click)="selectSubSeason(subseason);topPanel.close()" style="width: 80%;">{{subseason.subseasonKey}}</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <p style="opacity: 70%; font-size: 30pt">Tournaments:</p>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="tourneyContainer outline lShadow"
        *ngFor="let tournement of tournements; index as i"
        [routerLink]="'/tournament/' + i + '/' + tournement.tournementName">
        <p class="tourneyName">{{tournement.tournamentName}}</p>
        <p style="opacity: 50%;">Participants:</p>
        <div fxFlex fxLayout="row wrap" fxLayoutGap="10px" class="tourneyParticipants" fxLayoutGap="0.65rem">
            <app-team-card *ngFor="let i of tournement.teams" [teamID]="i"></app-team-card>
        </div>
    </div>
    <button mat-raised-button color="primary" id="addTourneyBtn" (click)="addTourney()" style="width: 80%;">Add
        Tournement</button>
</div>