.memberContainer {
    border: 3px solid;
    border-radius: 30px;
    border-color: grey;
    position: relative;
    cursor: pointer;
}

.editMember {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    background-color: blue;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.editIcon {
    margin-left: 0.3rem;
    margin-top: 0.1rem;
}